[submodule "rdfw"]
	path = rdfw
	url = https://github.com/KnowledgeLinks/rdfframework
[submodule "core"]
	path = core
	url = https://github.com/KnowledgeLinks/rdfw-core
[submodule "bibcat"]
	path = bibcat
	url = https://github.com/KnowledgeLinks/rdfw-bibcat
