body { margin-top: 30px; }
.itemLister {
  border-style: solid;
  border-width: 4px;
  border-color: #FAEBD7;
  margin:5px;
}
img{
  max-width:200px;
  max-height:300px;
}
.buttonholder{
  margin:10px;
}