<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      	<img src="{{ "kds_siteLogoFile"|app_url }}" style="height:45px;margin:-20px 0px -20px 0px">
      	{{ 'kds_siteBrand'|app_item }}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('bibcat.institution_list_path') }}">Institutions <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	{% if current_user.username %}
	      	<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.full_name }} <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="{{ url_for('rdfw_core.rdf_class_forms', form_name='UserForm', form_instance='DisplayForm') }}?id={{ current_user.person_uri }}">Profile</a></li>
	            <li><a href="{{ url_for('rdfw_core.logout') }}">Logout</a></li>
	          </ul>
	        </li>
	        {% if "acl_Control" in current_user.app_security %}
	        {% endif %}
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="{{ url_for('rdfw_core.app_defintions') }}">App Definitions</a></li>
		            <li><a href="{{ url_for('rdfw_core.rdf_class_forms', form_name='UserForm', instance='NewForm') }}">New User</a></li>
		            <li><a href="{{ 'kds_frameworkDocUrl'|app_item }}" target="_blank">RdfFramework Docs</a></li>
		          </ul>
		        </li>
		    
      	{% else %}
      		<li><a href="{{ url_for('rdfw_core.rdf_class_forms', form_name='login') }}">Login</a></li>
      	{% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>