<!DOCTYPE html>
<html>
  <head>
    <title>{% block view_title %}{% endblock %}{{ site_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}?v=0.1">
    {% block more_css %}{% endblock %}

  </head>
  <body>
    {% block main %}
    <div class="container">
    <h1></h1>
    </div>
    {% endblock %}  
    {% block footer %}
    <footer class="container">
        {% block rdf_export %}{% endblock %}
        <img src="{{ url_for('static', filename='img/alliance-logo.png') }}"
             alt="Colorado Alliance of Research Libraries"
             class="pull-right">

        <div class="pull-right" style="font-size: .8em">
            <br><em>a library linked-data service of</em><br>
                powered by <a href="http://bibcat.org/">BIBCAT</a>
        </div>
    </footer>
    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
   <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104850480-1', 'auto');
  ga('send', 'pageview');

    </script>

   {% block more_js %}{% endblock %}
   {% block dialogs %}{% endblock %}
  </body>
</html>
