{% extends 'base.html' %}

{% block main %}
<div class="container">
	{% include 'snippets/navbar.html' %}
	{# START row #}
	<div class="row">
		<div class="col-md-12">
			<h1>Welcome to BIBCAT 2.0!</h1>
			<h2>We are in the very first stages of creating a new BIBFRAME 2.0 catalog.</h2>
		</div> 
		{# include 'snippets/right-nav.html' #}
	{# END row #}
	</div>

	<div class="row">
		<div class="col-md-12">
			{% include 'snippets/copyright.html' %}	
		</div>
		
		{# END row #}
	</div>
{# END row #}
</div>
</div>
{% endblock %}
