{% extends 'base.html' %}

{% block main %}
<script src="https://use.fontawesome.com/f0e99862c1.js"></script>
<div class="container">
  <h1>{{instance.name}}</h1>
  <div class="row">
    <div class="col-8">
      {% if instance.authors %}
      <div class="row">
        <div class="col-12">
          <h4>Edited by {% for auth in instance.authors %}{{auth}}{% if not loop.last %}, {% endif %}{% endfor %}</h4>
        </div>
      </div>
      {% endif %}
      {% if instance.datePublished %}
      <div class="row">
        <div class="col-12">
          <h3>{{instance.datePublished}}</h3>
        </div>
      </div>
      {% endif %}
      {% if instance.description %}
      <div class="row">
        <div class="col-12">
          <p>{{instance.description}}</p>
        </div>
      </div>
      {% endif %}
      {% if instance.keywords %}
      <div class="row">
        <div class="col-2">
          <p><b>Keywords:</b></p>
        </div>
        <div class="col-10">
          <ul>{% for keyword in instance.keywords %}<li>{{keyword}}</li>{% endfor %}</ul>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-4">
      <img src="{{url_for('static', filename='img/Sample-cover.png')}}"></img>
    </div>
  </div>
  <div class="row">
  {% if instance.workExample %}
    {% for item in instance.workExample %}
    <div class="col-12 card">
      <div class="row">
        <div class="col-lg-auto">
          <iframe
            width="200"
            height="200"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuODt2VKs726Htc3hVNDga2UP1AAOdDZs
              &q={{instance.location}}" allowfullscreen>
          </iframe>
        </div>
          <div class="col">
            <h3>{{ item.location.name }}</h3>
            <p>Reference Number: {{ item.refnumber}}</p>
            <p>Availability: {{ item.availability}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="col-12 card">
      <h2>There doesn't seem to be anything here...</h2>
    </div>
  {% endif %}
  </div>
  
  
</div>

{% endblock main %}
