{% extends 'base.html' %}

{% block main %}
<script src="https://use.fontawesome.com/f0e99862c1.js"></script>
  <div class="container">


  <h1>{{instance.name}}</h1>
  <div class="row">
    <div class="col-8">
      {% if instance.authors %}
      <div class="row">
        <div class="col-12">
          <h4>Edited by {% for auth in instance.authors %}{{auth}}{% if not loop.last %}, {% endif %}{% endfor %}</h4>
        </div>
      </div>
      {% endif %}
      {% if instance.datePublished %}
      <div class="row">
        <div class="col-12">
          <h3>{{instance.datePublished}}</h3>
        </div>
      </div>
      {% endif %}
      {% if instance.description %}
      <div class="row">
        <div class="col-12">
          <p>{{instance.description}}</p>
        </div>
      </div>
      {% endif %}
      {% if instance.keywords %}
      <div class="row">
        <div class="col-2">
          <p><b>Keywords:</b></p>
        </div>
        <div class="col-10">
          <ul>{% for keyword in instance.keywords %}<li>{{keyword}}</li>{% endfor %}</ul>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-4">
      {# <img src="{{url_for('static', filename='img/Sample-cover.png')}}"></img> #}
        {{ instance|cover_art|safe }}
    </div>
  </div>
  <div class="row">
  {% if instance.workExample %}
    {% for loc, items in instance.workExample|groupby('provider.name') %} 
    <div class="col-12 card">
      <div class="row">
        <div class="col-lg-auto">
          <iframe
            width="200"
            height="200"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuODt2VKs726Htc3hVNDga2UP1AAOdDZs
              &q={{loc}}" allowfullscreen>
          </iframe>
        </div>
        <div class="col">
         <h3>{{ loc }}</h3>
          <p>Formats: 
          <div id="accordion" role="tablist" aria-multiselectable="true">
          {% for indivItem in items %}
          {% if   indivItem.fileFormat == "pdf" %}
          <div class="card">
            <div class="card-header" role="tab" id="heading{{loc}}Pdf">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loc}}Pdf" aria-expanded="false" aria-controls="collapse{{loc}}Pdf">
                  Ima PDF <i class="fa fa-file-pdf-o fa-2x"></i>
                </a>
              </h5>
            </div>

            <div id="collapse{{loc}}Pdf" class="collapse" role="tabpanel" aria-labelledby="heading{{loc}}Pdf">
              <div class="card-block">
                See my PDF glory.
              </div>
            </div>
          </div>
          {% elif indivItem.fileFormat == "audio" %}
          <div class="card">
            <div class="card-header" role="tab" id="heading{{loc}}Audio">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loc}}Audio" aria-expanded="false" aria-controls="collapse{{loc}}Audio">
                  Ima audio <i class="fa fa-music fa-2x"></i>
                </a>
              </h5>
            </div>

            <div id="collapse{{loc}}Audio" class="collapse" role="tabpanel" aria-labelledby="heading{{loc}}Audio">
              <div class="card-block">
                Heer me
              </div>
            </div>
          </div>
          {% elif indivItem.fileFormat == "print" %}
          <div class="card">
            <div class="card-header" role="tab" id="heading{{loc}}Print">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{loc}}Print" aria-expanded="false" aria-controls="collapse{{loc}}Print">
                  Ima book <i class="fa fa-book fa-2x"></i>
                </a>
              </h5>
            </div>

            <div id="collapse{{loc}}Print" class="collapse" role="tabpanel" aria-labelledby="heading{{loc}}Print">
              <div class="card-block">
                Reed me
              </div>
            </div>
          </div>
          {% endif %} {% endfor %}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="col-12 card">
      <h2>There doesn't seem to be anything here...</h2>
    </div>
  {% endif %}
  </div>
</div>

{% endblock main %}
{% block more_js %}
{% endblock more_js %}
