{% extends 'base.html' %}

{% block main %}
<script src="https://use.fontawesome.com/f0e99862c1.js"></script>
<div class="container">
  <h1>{{instance.name}}</h1>
  <button type="button" class="btn btn-lg btn-danger" 
        data-toggle="popover" title="Popover title" 
        data-content="And here's some amazing content. It's very engaging. Right?">
  Click to toggle popover
</button>
  <div class="row">
    <div class="col-8">
      {% if instance.authors %}
      <div class="row">
        <div class="col-12">
          <h4>Edited by {% for auth in instance.authors %}{{auth}}{% if not loop.last %}, {% endif %}{% endfor %}</h4>
        </div>
      </div>
      {% endif %}
      {% if instance.datePublished %}
      <div class="row">
        <div class="col-12">
          <h3>{{instance.datePublished}}</h3>
        </div>
      </div>
      {% endif %}
      {% if instance.description %}
      <div class="row">
        <div class="col-12">
          <p>{{instance.description}}</p>
        </div>
      </div>
      {% endif %}
      {% if instance.keywords %}
      <div class="row">
        <div class="col-2">
          <p><b>Keywords:</b></p>
        </div>
        <div class="col-10">
          <ul>{% for keyword in instance.keywords %}<li>{{keyword}}</li>{% endfor %}</ul>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-4">
      <img src="{{url_for('static', filename='img/Sample-cover.png')}}"></img>
    </div>
  </div>
  <div class="row">
  {% if instance.workExample %}
    {% for loc, items in instance.workExample|groupby('provider.name') %} 
    <div class="col-12 card">
      <div class="row">
        <div class="col-lg-auto">
          <iframe
            width="200"
            height="200"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuODt2VKs726Htc3hVNDga2UP1AAOdDZs
              &q={{loc}}" allowfullscreen>
          </iframe>
        </div>
        <div class="col">
         <h3>{{ loc }}</h3>
          <p>Formats: {% for indivItem in items %}
          {% if   indivItem.fileFormat == "pdf" %}<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            CLICK MY FACE <i class="fa fa-file-pdf-o fa-2x"></i>
          </button>
          {% elif indivItem.fileFormat == "audio" %}<i class="fa fa-music fa-2x"></i>
          {% elif indivItem.fileFormat == "print" %}<i class="fa fa-book fa-2x"></i>
          {% endif %} {% endfor %}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="col-12 card">
      <h2>There doesn't seem to be anything here...</h2>
    </div>
  {% endif %}
  </div>
  <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            CLICK MY FACE <i class="fa fa-file-pdf-o fa-2x"></i>
          </button>
  
</div>

{% endblock main %}
{% block more_js %}
<script> $("[data-toggle=popover]").popover(); </script>
{% endblock more_js %}