{% extends 'base.html' %}

{% block main %}
<script src="https://use.fontawesome.com/f0e99862c1.js"></script>
<div class="container">
  <h1>{{instance.name}}</h1>
  <div class="row">
    <div class="col-12">
      {% if instance.authors %}
          <h4>by {% for auth in instance.authors %}{{auth}}{% if not loop.last %}, {% endif %}{% endfor %}</h4>
        </div>
      {% endif %}
      {% if instance.contributor %}
          <h4>by {% for auth in instance.contributor %}{{auth}}{% if not loop.last %}, {% endif %}{% endfor %}</h4>
     {% endif %}
    </div>
  </div>   
      
      <div class="row">
        <div class="col-lg-auto">
          <iframe
            width="200"
            height="200"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuODt2VKs726Htc3hVNDga2UP1AAOdDZs
            &q={{ item.provider.address.streetAddress }}" allowfullscreen>
          </iframe>
        </div>
        <div class="col">
          <img src="{{ url_for('static', filename='img/' + item.provider.logo) }}">
          <h3>{{item.provider.name }}</h3>
          {% if item.identifier %}
          <p>{{ item.identifier.propertyID }}<strong>{{item.identifier.value}}</strong></p>
          {% endif %}
          {# <p>Availability: {{instance.availability}}</p> #}
        </div>
        <div class="col">
            {{ instance|cover_art|safe }}
        </div>

      </div>
      
      {% if instance.datePublished %}
      <div class="row">
        <div class="col-12">
          <h3>{{instance.datePublished}}</h3>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-8">
            {% if instance.description %}
                {% if instance.description|is_list %}
                    {% for row in instance.description %}<p>{{ row }}</p>{% endfor %}
                {% else %}
                    <p>{{instance.description}}</p>
                {% endif %}
            {% endif %}
        </div>
        {% if instance.keywords %}
        <div class="col-4">
            <strong>Subjects:</strong>
            <ul>{% for sub in instance.keywords %}<li>{{sub}}</li>{% endfor %}</ul>
        </div> 
        {% endif %}
    </div>
  {% if item.sameAs %}
  <div class="row">
    <div class="col-12">
        <h4>Library catalogue link:</h4>
        <p><a href="{{ item.sameAs.0.get('@id') }}">{{ item.sameAs.0.get('@id') }}</a></p>
    </div>
  </div>
  {% endif %}
  <div class="row">
        <div class="col-6">
            <dl>
            {% if instance.publisher %}
                <dt>Publisher:</dt>
                <dd class="p-1">{{ instance.publisher }}</dd>
            {% endif %}
            {% if instance.isbn %}
                <dt>ISBN</dt>
                <dd>{% for isbn in instance.isbn %}{{ isbn }}<br>{% endfor %}
                </dd>
            {% endif %}
            </dl>
        </div>
        <div class="col-6">
            {% if instance.tableOfContents %}
                <strong>Table of Contents</strong>
                <ul>
                    {% for row in instance.tableOfContents %}
                    <li>{{ row }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
  </div>
  
</div>
{% endblock main %}
