{% extends 'base.html' %}

{% block main %}
<div class="container">
  <h1>{{instance.name}}</h1>
  <div class="row">
    <div class="col-8">
      {% if instance.authors %}
      <div class="row">
        <div class="col-12">
          <h4>Edited by {% for auth in instance.authors %}{{auth}}{% if not loop.last %}, {% endif %}{% endfor %}</h4>
        </div>
      </div>
      {% endif %}
      
      
      <div class="row">
        <div class="col-lg-auto">
          <iframe
            width="200"
            height="200"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCuODt2VKs726Htc3hVNDga2UP1AAOdDZs
              &q=Space+Needle,Seattle+WA" allowfullscreen>
          </iframe>
        </div>
        <div class="col">
          <h3>{{instance.location}}</h3>
          <p>Reference Number: {{instance.refnumber}}</p>
          <p>Availability: {{instance.availability}}</p>
        </div>
      </div>
      
      {% if instance.datePublished %}
      <div class="row">
        <div class="col-12">
          <h3>{{instance.datePublished}}</h3>
        </div>
      </div>
      {% endif %}
      {% if instance.description %}
      <div class="row">
        <div class="col-12">
          <p>{{instance.description}}</p>
        </div>
      </div>
      {% endif %}
      {% if subjects %}
      <div class="row">
        <div class="col-2">
          <p><b>Subjects:</b></p>
        </div>
        <div class="col-10">
          <ul>{% for sub in subjects %}<li>{{sub}}</li>{% endfor %}</ul>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-4">
      <img src="{{url_for('static', filename='img/Sample-cover.png')}}"></img>
    </div>
  </div>
  {% if instance.url %}
  <div class="row">
    <p><h4>Library catalogue link:</h4></p>
    <p><a href="{{instance.url}}">{{instance.url}}</a></p>
  </div>
  {% endif %}
  <div class="row">
  
  </div>
  
</div>

{% endblock main %}