<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block head_title %}Colorado Alliance of Research Libraries BIBCAT Project{% endblock head_title %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    {% block css %}{% endblock css %}
  </head>
  <body class="container">
    <h1>{% block title %}Colorado Alliance of Research Libraries BIBCAT Pilot{% endblock title %}</h1>
    {% block body %}
    <div class="row">
        <section class="col-md-4">
            <h3>Project Links</h3>
            <ul>
                <li><a href="https://github.com/KnowledgeLinks/alliance-bibcat">Github Code Repository</a></li>
                <li><a href="{{ url_for('site_index') }}">XML Siteindex</a></li>
            </ul>
        </section>
        <section class="col-md-8">
            <h2 id="bml-iteration-1">Build-Measure-Learn Iteration One</h2>
            <p class="lead">This first iteration is to build a sitemap interface for 
            search engines to index selected University of Colorado and Colorado College
            Linked Data that has been transformed from MARC 21 records to BIBFRAME 2.0
            entities hosted and published by Colorado Alliance.</p> 
            <h3>Pilot Triplestore Statistics</h3>
            <h4>Build Constraints</h4>
            <ul>
                <li>Simplified BF relationships; uses unique Instances with corresponding
                Item with a 1-to-1 relationship. Works are blank nodes in the Instance
                graph</li>
                <li>No de-duplication done on any of the BIBFRAME entities</li>
                <li>If a local ILS number wasn't found, generated stub URI for Items that
                may not be correct</li>
                <li>Work and Instance Subclasses not generated</li>
            </ul>

            <table class="table" id="bml-iteration-1-triplestore">
                <thead class="thead-inverse">
                    <tr>
                        <th>Library</th>
                        <th># Source MARC</th>
                        <th># Triples</th>
                    <tr>
                </thead>
                <tbody>
                    <tr>
                        <td>University of Colorado Boulder</td>
                        <td>87,546</td>
                        <td>3,548,658</td>
                    </tr>
                    <tr>
                        <td>Colorado College</td>
                        <td>84,013</td>
                        <td>3,508,039</td>
                    </tr>
                </tbody>
            </table>
            <h3>Pilot BIBFRAME Counts</h3>
            <table class="table" id="bml-iteration-1-bf-counts">
                <thead class="thead-inverse">
                    <tr>
                        <th>Library</th>
                        <th>Works</th>
                        <th>Instances</th>
                        <th>Items</th> 
                    </tr>
                </thead>
                <tbody>
                {% for iri, info in bf_counts.items() %}
                    <tr>
                        <td>
                            <a href="{{ iri }}">{{ info.get('name') }}</a>
                        </td>
                        {% for row in info.counts %}
                        <td>
                           {{ row.get('work_count').get("value") }} 
                        </td>
                        <td>
                           {{ row.get('instance_count').get("value") }} 
                        </td>
                        <td>
                           {{ row.get('item_count').get("value") }} 
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    {% endblock body %}
    <footer class="footer">
        <div class="container">
        Project participants include <a href="https://coalliance.org">Colorado Alliance of Research Libraries</a>, 
        <a href="http://www.colorado.edu/libraries/">University of Colorado Boulder Libraries</a>,
        <a href="https://www.coloradocollege.edu/library/">Colorado College</a>, and <a href="http://knowledgelinks.io/">Knowledgelinks</a>.

        </div>
    </footer>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </body>
</html>

